/*.root {
    color: aliceblue;
    background-color: black;
}*/

.BigBoard {
    -fx-padding: 85px;
}

.SmallBoardsContainer{
    -fx-pref-height: 750;
    -fx-pref-width: 750;

    -fx-alignment: center;
    -fx-padding: 20;

    -fx-border-color: rgba(36,166,183,.9);
    -fx-border-width: 10;
    -fx-border-radius: 15;

    -fx-background-color: rgba(17, 91, 100, 0.5);
    -fx-background-radius: 20;


}
.SmallBoard {
    -fx-opacity: 1;

    -fx-background-color: rgba(36,166,183,.1);

    -fx-border-color: rgba(36,166,183,.2);
    -fx-border-color: rgba(17, 91, 100, 0.3);
    -fx-border-width: 3;

    /*-fx-max-height: 250;*/
    /*-fx-max-width: 250;*/
    -fx-pref-height: 240px;
    -fx-min-width: 240px;

    -fx-text-alignment: center;
    -fx-alignment: center ;
}


.button {
    -fx-background-color: rgba(180, 199, 211,1);
    -fx-border-color: rgba(138, 146, 162,1);
    -fx-border-radius: 0;
    -fx-border-width: .6;
    -fx-padding: 0;

    -fx-font-size: 70;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Consolas";

    -fx-max-width: 100px;
    -fx-min-width: 85px;

    -fx-max-height: 100px;
    -fx-min-height: 85;
}

.button .text {
    -fx-text-inner-color: red;
    -fx-text-fill: red;
}


.Draw {
    -fx-border-color: yellow;
    -fx-max-height: 250;
    -fx-max-width: 250;
}

.Draw .label {
    -fx-font-size: 150;
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
}

.WonX {
    -fx-border-color: red;
    -fx-max-height: 250;
    -fx-max-width: 250;
}

.WonX .label {
    -fx-font-size: 150;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.WonO {
    -fx-border-color: blue;
    -fx-max-height: 250;
    -fx-max-width: 250;
}

.WonO .label {
    -fx-font-size: 150;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.backgroundColor {
    -fx-background-color: linear-gradient(to top right, #104573, #00a99d);
}

@font-face {
    /*todo check font import*/
    /*http://fxexperience.com/2012/12/use-webgoogle-fonts-in-javafx/*/
    font-family: 'Water Brush';
    /*src: url('././font/ulove.tiff');*/
    src: url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
}

.tictactoeLogo {
    /*-fx-font-family: "uLove";*/
    -fx-font-family: 'Water Brush', cursive;
    -fx-color: #a7f5ff;
}